<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Recomendador</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.2/sweetalert.min.js"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="sweetalert2.all.min.js"></script>
  </head>
  <body>
    <div class="jumbotron text-center" style="background: #DD9868;">
      <h1>Sistema Recomendador de Canciones</h1><br>
      <h2>Instrucciones: </h2><br>
      <h4>Para ejecutar el programa es necesario ingresar el nombre de la canción, del autor y la cantidad de canciones que desea obtener como resultado</h4>
    </div>

    <form action="/home" method="post">
      <div class="form-group">
        <label for="cancion">Ingrese el nombre de la canción:</label>
        <input type="text" class="form-control" placeholder="Cancion" id="cancion" name="nombre">
      </div>
      <div class="form-group">
          <label for="autor">Ingrese el nombre del autor:</label>
          <input type="text" class="form-control" placeholder="Autor" id="autor" name="autor">
      </div>
      <div class="form-group">
        <label for="cantidad">Cantidad de canciones:</label>
        <input type="number" class="form-control" placeholder="Cantidad" id="cantidad" name="cantidad">
      </div>
      <button type="submit" class="btn btn-primary">Buscar</button>
    </form>

    <% if ( mensaje == true) { %>
      <script type="text/javascript">
        Swal.fire({
          title: 'Error',
          text: 'Canción no encontrada', 
          imageUrl:'https://raw.githubusercontent.com/ArturoCeron/EADProyecto/main/public/imgs/triste.png',
          imageWidth: 120,
          imageHeight: 120,
          imageAlt: 'Fallo',
        });
      </script>
    <% } else if ( resultados[0] != null ){ %>
      <br><h3> Canción elegida: <%- nombre %> - <%- autor %> </h3>
      <div class="container"><br>
        <div class="row">
          <div class="col-sm-5">
            <h3>Autor</h3>
            <% for (var i = 0; i < resultados.length; i = i + 3) { %>
              <h5> <%- resultados[i]%></h5><br>
            <% } %>
          </div>
          <div class="col-sm-5">
            <h3>Nombre</h3>
            <% for (var i = 1; i < resultados.length; i = i + 3) { %>
              <h5> <%- resultados[i]%></h5><br>
            <% } %>
          </div>
          <div class="col-sm-2">
            <h3>Año</h3>        
            <% for (var i = 2; i < resultados.length; i = i + 3) { %>
              <h5> <%- resultados[i]%></h5><br>
            <% } %>
          </div>
        </div>
      </div>
    <% } %>
  </body>
</html>
